.image-card{
    position: var(--position);
    top: 0;
    transform: var(--transform);
    transition-duration: var(--duration);
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}