@import 'tailwindcss';

body{width: 100vw;}

h1{
    font-family:'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: 800;
}

nav li{
    min-width: 150px;
    border: solid 1px white;
    padding: 0 0.5rem;
    text-align: center;
}

nav li:active{background-color: rgba(225, 225, 225, 0.3);}

.best_seller_dish{
    line-height: 1rem;
    font-size: 1rem;
    box-shadow: 0 0 5px 1px gray;
    border-radius: 10px;
}

.best_seller_dish>*{
    margin : 5px 0;
}

.logo {
    width: 1rem;
}